<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SERVICIOS </h1>
    <h2>corte y barba 80 soles reserva</h2> <br>
    <h2>corte de cabello 55 soles reserva</h2>
    <h2>arreglo de barba 45 reserva</h2>
    <h1>reserva tu con barbero favorito</h1>
    
</body>
</html>